@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --hot-pink: #ff007b;
    --bright-teal: #01f9c6;
    --neon-blue: #2e00ff;
    --bright-purple: #8200ff;
    --neon-orange: #ff6600;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 34, 34, 34;
    --primary-color: #fc4c02; /* Strava Orange */
    --secondary-color: #ffffff; /* White */
    --accent-color: #ff7f50; /* Coral */
    --dark-grey-1: #121212; /* Very dark grey */
    --dark-grey-2: #1c1c1c; /* Dark grey */
    --dark-grey-3: #2a2a2a; /* Medium dark grey */
    --dark-grey-4: #3a3a3a; /* Medium grey */
    --dark-grey-5: #4a4a4a; /* Light grey */
    --light-grey-1:  #b3b2b2; /* Light grey */
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.tff') format('truetype');
  font-weight: normal;
  font-style: thin;
}

/* body {
  color: rgb(var(--neon-blue));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--hot-pink));
} */

body {
background-color: #2a2a2a;
}

h1 {
  color: var(--primary-color);
  font-size: xx-large;
}

h2 {
  color: var(--secondary-color);
  font-size: x-large;
}

p {
  color: var(--secondary-color);
}

dl {
  color: var(--secondary-color);
}