@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --hot-pink: #ff007b;
    --bright-teal: #01f9c6;
    --neon-blue: #2e00ff;
    --bright-purple: #8200ff;
    --neon-orange: #ff6600;
    --dark-grey-1: #333333;
    --dark-grey-2: #4F4F4F;
    --dark-grey-3: #828282;
    --dark-grey-4: #BDBDBD;
    --dark-grey-5: #E0E0E0;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.tff') format('truetype');
  font-weight: normal;
  font-style: thin;
}

/* body {
  color: rgb(var(--neon-blue));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--hot-pink));
} */

h1 {
  color: var(--hot-pink);
  font-size: xx-large;
}

h2 {
  color: var(--neon-orange);
  font-size: x-large;
}

p {
  color: var(--bright-teal);
}
